body {
  font-family: 'TT_Norms', sans-serif;
  font-size: 16px;
  height: 100vh;
}

* {
  font-family: 'TT_Norms', sans-serif;
  font-weight: 500;
}

.button {
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 18px 25px;

  & > img {
    width: 24px;
    height: 24px;
    margin-right: 7px;
  }

  & > span {
    display: inline-block;
    font-size: 1.25em;
    text-align: center;

    & + img {
      margin-right: 0;
      margin-left: 7px;
    }
  }
}

.primary-button {
  background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15),
    4px 4px 25px rgba(42, 139, 242, 0.05),
    10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;

  & > span {
    text-transform: capitalize;
    color: #fff;
  }
}