$--c-dark-text: #0D1C2E;
$--c-active-color: #2A8BF2;
$--c-indication-color: #FF3366;
$--c-light-text: #707C97;
$--c-background-1: #E6ECFE;
$--c-background-2: #FAFBFF;
$--c-background-top-menu: #FFFFFF;

$--o-padding-vertical-box: 70px;
$--o-padding-horizontal-box: 60px;

$--o-padding-horizontal-navigation: 38px;
$--o-min-width-navigation: 290px;

$--o-padding-horizontal-navigation: 38px;