.avatar {
  margin: 0 auto;

  &__image {

    &--navigation {
      width: 86px;
      height: 86px;
      border-radius: 100000px;
      display: block;
      margin: 0 auto 10px auto;
    }
  }

  &__name {
    color: $--c-dark-text;
    font-size: 1.125em;
    text-align: center;
    margin-top: 10px;
  }

  &__email {
    color: rgba($--c-dark-text, 0.6);
    font-size: 0.925em;
    font-weight: 400;
  }
}
