.chat-messages {
  position: relative;
  margin: $--o-padding-vertical-box $--o-padding-horizontal-box
    $--o-padding-vertical-box 64px;
  width: calc(50% - 207px);
  z-index: 1;

  @media (max-width: 1560px) {
    margin: $--o-padding-vertical-box 15px;
    width: 50%;
  }

  @media (max-width: 1000px) {
    margin: 0;
    width: 100%;
  }

  &__no-chat-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #f3f3f3;
    padding: 10px 23px;
    color: #6a6a6a;
    border-radius: 1000px;
  }

  &__shadow {
    position: absolute;
    left: 0;
    top: 0;
    padding: 11px 20px;
  }

  &__container {
    border-radius: 6px 6px 0px 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 28px 60px;
    background: #fafbff;
    border-bottom: 2px solid rgba(112, 124, 151, 0.1);

    @media (max-width: 1560px) {
      padding: 28px 15px;
    }

    @media (max-width: 500px) {
      padding: 8px 15px;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;

    @media (max-width: 500px) {
      gap: 10px;
    }
  }

  &__button {
    padding: 14px;
    width: 52px;
    height: 52px;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03),
      0px 7px 25px rgba(42, 139, 242, 0.03),
      0px 5px 25px rgba(42, 139, 242, 0.07);
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    & > img {
      width: 24px;
      height: 24px;
    }

    @media (max-width: 500px) {
      padding: 10px;
      width: 35px;
      height: 35px;

      & > img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__messages {
    @extend %scrollbar;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: calc(100% - 210px);
    overflow-y: auto;
    margin-right: 17px;
    padding: 30px 37px 30px 60px;

    @media (max-width: 1560px) {
      padding: 30px 35px 30px 30px;
      margin-right: 8px;
      height: calc(100% - 203px);
    }

    @media (max-width: 500px) {
      padding: 15px;
      margin-right: 0;
      height: calc(100% - 116px);
    }
  }

  &__input {
    width: auto;
    margin: 0 60px 0 68px;
    border-top: 2px solid rgba(#707c97, 0.15);
    border-radius: 2px;
    padding: 19px 0 30px 0;
    display: flex;
    align-items: center;

    @media (max-width: 1560px) {
      margin: 0 23px 0 15px;
    }

    @media (max-width: 500px) {
      padding: 8px 0;
    }

    &__clear-file {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      & > svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }

    &__input {
      display: flex;
      width: 100%;
      height: 40px;
      position: relative;
      margin-left: 21px;
      margin-right: 21px;

      @media (max-width: 500px) {
        margin-left: 10px;
      }

      input {
        width: 100%;
        position: relative;
        font-size: 1.25em;
        height: 40px;
        background-color: rgba(0, 0, 0, 0);
        color: rgba($--c-light-text, 0.9);
        z-index: 2;
        border: none;
        outline: none;

        &:placeholder-shown ~ .chat-messages__input__placeholder {
          left: 6px;
          opacity: 1;
        }
      }
    }

    &__placeholder {
      @include overflow-ellipsis;
      max-width: 100%;
      z-index: 1;
      opacity: 0;
      transition: 0.2s left, 0.2s opacity;
      position: absolute;
      top: 10px;
      left: 150px;
      font-size: 1.25em;
      color: rgba($--c-light-text, 0.5);
    }

    &__attach {
      position: relative;

      &--active {
        .chat-messages__input__attach {
          &-inside {
            &--3 {
              top: -162px;
            }
            &--2 {
              top: -108px;
            }

            &--1 {
              top: -54px;
            }
          }

          &-open > img {
            transform: rotate(-45deg);
          }
        }
      }

      &-open {
        position: relative;
        background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);

        & > img {
          transition: transform 0.1s ease-in-out;
        }
      }

      &-inside {
        position: absolute;
        top: 0;
        left: 0;
        background: #2a8bf2;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03),
          0 7px 25px rgba(42, 139, 242, 0.03),
          0 5px 25px rgba(42, 139, 242, 0.07);
        transition: top 0.1s ease-in-out;
      }
    }

    &__round-button {
      width: 40px;
      height: 40px;
      border-radius: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img,
      & > .img {
        width: 24px;
        height: 24px;
      }
    }

    &__send {
      margin-left: auto;
      flex-shrink: 0;
      background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
      box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15),
        2px 2px 25px rgba(42, 139, 242, 0.05),
        4px 6px 10px rgba(42, 139, 242, 0.15);

      & > img,
      & > .img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__back-button {
    display: none;
    width: 28px;
    height: 28px;
    align-self: center;
    padding: 10px 15px 10px 0;
    margin-right: 5px;
    box-sizing: content-box;
    cursor: pointer;

    @media (max-width: 1000px) {
      display: block;
    }

    @media (max-width: 500px) {
      padding: 5px 10px 5px 0;
    }
  }
}
